.main{
    /* background-image: url("./background.png"); */
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
}


.home__logo{
    position: absolute;
    margin-top: 21.6%;
    margin-left: 15.5%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 48vh;
    width: 18.5vw;
    background-image: url("./logo.png");
    /* background-color: aqua; */
}