.main{
    /* background-image: url("./background.png"); */
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
}

.home__info{
    height: 99vh;
    border-left: 30vh;
    border-right: 20vh;
    border-bottom: 100vw;
    width: 100%;
    background-color: aqua;
}