

.stud_info{
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
    margin: 2% auto;
    padding: 4vh;
    font-size: 1.3rem;
    font-weight: 500;
    /* margin-top: 2%; */
    width: 60%;
    text-align: justify;
    border-radius: 4vh;
    border: 0px solid black;
}


.studVal{
    font-weight: 800;
}