.jobCard {
    /* margin-top: 4vh; */
    padding-top: 4vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    background-color: rgb(245, 245, 245);
    font-family: "Inter", sans-serif;
}


.jobCard h3 {
    padding: 4vh;
    align-self: flex-start;
    justify-self: flex-start;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 900;
}

.head_job_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timestamp{
    font-size: 1rem;
}

#jobCardApply:hover{
    color: black !important;
    font-weight: bolder !important;
}

.post-list .single-post{
    background-color: #f5f2f2;
    border-radius: 20px;
}

.job_desc {
    overflow-wrap: anywhere;
    text-align: justify;
    max-width: 100%;
    overflow-y: scroll;
    height: 24vh;
    width: 100%;
}

.job_desc p {
    margin-left: 10%;
    padding: 4vh;
    font-weight: 500;
    font-size: 1.2rem;
}

.job_card_all {
    border-radius: 3vh;
    width: 65%;
    background: -webkit-linear-gradient(left, #ffeeee , #ffe9e9, #ffe7e7);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

hr{
    width: 80%;
    margin-left: 10%;
    border-top: 1px solid rgb(0, 0, 0);
}