*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
     
}

a{
    text-decoration: none;

}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 15vh;
    background-color: rgba(255, 161, 158, 0.9);
    align-items: center;
    font-family: 'Inter', sans-serif;

}

nav .logo{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
}


nav .nav-links{
    display: flex;
    justify-content: space-between;
    width: 45%;
}

nav .nav-links a{
    font-size: 2.7vh;
    font-weight: normal;
    cursor: pointer;
}


nav .nav-links a:hover{
    border-bottom:1px solid black ;
}

nav .burger{
    font-size: 28px;
    display: none;
    cursor: pointer;
}

@media all and (max-width:768px){
    nav .burger{
        display: block;
    }
    
    nav .nav-links{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(255, 193, 191);
        width: 50%;
        padding: 40px;
        transform: translateX(-500px);
        transition: 0.5s ease-in-out;
    }

    nav .nav-links a:hover{
        border-bottom: 0px solid black ;
        cursor: default;
    }

    nav .nav-links li{
        padding: 25px; 
        border-bottom: 1px solid beige;
    }

    nav .nav-links li:last-of-type{
        border-bottom: 0px solid black;
    }
}


nav .nav-links li{
    padding: 25px;
}
