.slide {
  display: flex;
  height: 75vh;
  width: 100%;
  z-index: -1;
  border-radius: 5vh;
  justify-content: center;
  align-items: center;
  background: rgb(235 235 235);
  /* justify-content: center;
    align-items: center; */
}

@media screen and (max-width: 849px), screen and(max-height:800px) {
  .corosul__1 {
    margin-top: 80vh !important;
  }
}
@media screen and (max-width: 769px), screen and(max-height:1025px) {
  .corosul__1 {
    margin-top: 0vh !important;
  }
}
@media screen and (max-width: 394px), screen and(max-height:800px) {
  .corosul__1 {
    margin-top: 110vh !important;
  }
}
@media screen and (max-width: 307px), screen and(max-height:800px) {
  .corosul__1 {
    margin-top: 120vh !important;
  }
}
@media screen and (max-width: 849px), screen and(max-height:615px) {
  .corosul__1 {
    margin-top: 90vh !important;
  }
}
@media screen and (max-width: 849px), screen and(max-height:550px) {
  .corosul__1 {
    margin-top: 100vh !important;
  }
}
@media screen and (max-width: 849px), screen and(max-height:492px) {
  .corosul__1 {
    margin-top: 110vh !important;
  }
}
@media screen and (max-width: 849px), screen and(max-height:452px) {
  .corosul__1 {
    margin-top: 120vh !important;
  }
}
@media screen and (max-width: 444px), screen and(max-height:700px) {
  .corosul__1 {
    margin-top: 80vh !important;
  }
}

@media screen and (max-width: 411px), screen and(max-height:823px) {
  .corosul__1 {
    margin-top: 70vh !important;
  }
}
@media screen and (max-width: 375px), screen and(max-height:667px) {
  .corosul__1 {
    margin-top: 120vh !important;
  }
}
@media screen and (max-width: 375px), screen and(max-height:812px) {
  .corosul__1 {
    margin-top: 100vh !important;
  }
}
@media screen and (max-width: 768px), screen and(max-height:1024px) {
  .corosul__1 {
    margin-top: 60vh !important;
  }
}
@media screen and (max-width: 1024px), screen and(max-height:1366px) {
  .corosul__1 {
    margin-top: 40vh !important;
  }
}
@media screen and (max-width: 540px), screen and(max-height:720px) {
  .corosul__1 {
    margin-top: 80vh !important;
  }
}
/* @media screen and (max-width: 500px), screen and(max-height:750px) {
  .corosul__1 {
    margin-top: 80vh !important;
  }
} */
@media screen and (max-width: 340px), screen and(max-height:590px) {
  .corosul__1 {
    margin-top: 140vh !important;
  }
}
@media screen and (max-width: 360px), screen and(max-height:640px) {
  .corosul__1 {
    margin-top: 200vh !important;
  }
}
@media screen and (max-width: 1004px), screen and(max-height:669px) {
  .corosul__1 {
    margin-top: 80vh !important;
  }
}
@media screen and (max-width: 394px), screen and(max-height:669px) {
  .corosul__1 {
    margin-top: 120vh !important;
  }
}

@media (max-width: 849px) {
  .slide {
    flex-direction: column;
    height: 80vh;
  }
  .carousel_img {
    width: 36% !important;
  }
  .carousel_img img {
    margin-top: 20% !important;
  }
}
@media (max-width: 565px) {
  .slide {
    height: 90vh;
  }
}
@media (max-width: 487px) {
  .slide {
    height: 100vh;
  }
}
@media (max-width: 442px) {
  .slide {
    height: 110vh;
  }
}
@media (max-width: 414px) {
  .slide {
    height: 120vh;
  }
}

@media (max-width: 390px) {
  .corosul__1 {
    margin-top: 110vh;
  }
  .slide {
    height: 130vh;
  }
}

@media (max-width: 368px) {
  .slide {
    height: 140vh;
  }
}

@media (max-width: 347px) {
  .slide {
    height: 150vh;
  }
}

@media (max-width: 323px) {
  .slide {
    height: 160vh;
  }
}

@media (max-width: 318px) {
  .slide {
    height: 170vh;
  }
}

@media (max-width: 309px) {
  .slide {
    height: 180vh;
  }
}

@media (max-width: 304px) {
  .slide {
    height: 190vh;
  }
}

.carousel_img {
  width: 80%;
  /* background-color: aqua; */
}

.carousel_info {
  width: 100%;
  height: 100%;
  font-size: 3vh;
  text-align: justify;
  padding: 7%;
  /* background-color: antiquewhite; */
}

.carousel_img img {
  display: flex;
  height: 50%;
  width: 50%;
  margin-left: 10%;
  margin-top: 5%;
  /* align-items: center; */
  /* justify-content: center; */
}
